*{
    margin: 0px;
    padding: 0px;
}

.hidden{
    display: none;
}

body{
    background-color: white;
}

header{
    background-color: red;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokeTittle{
    width: 35%;
    margin-top: 10px;
}

.pokeballTittle{
    height: 20px;
}

.pokedex{
/*     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    color: white;
}

.pokedexImg{
    width: 70%;
}

#pokeResultado{
    display: flex;
    text-align: center;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #f8a100;
}

.imgPoke{
    width: 300px;
}


.inputStyle{
    height: 25px;
    font-size: 20px;
    margin-bottom: 25px;
}

.sadPika{
    border-radius: 5px;
}


.pokeType{
    width: 20px;
}